In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
inter_result = pd.read_csv('C:\\Users\\Ghomsi\\Desktop\\Python Code\\datasets\\results.csv')

In [17]:
inter_result

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
40834,2019-07-18,American Samoa,Tahiti,8,1,Pacific Games,Apia,Samoa,True
40835,2019-07-18,Fiji,Solomon Islands,4,4,Pacific Games,Apia,Samoa,True
40836,2019-07-19,Senegal,Algeria,0,1,African Cup of Nations,Cairo,Egypt,True
40837,2019-07-19,Tajikistan,North Korea,0,1,Intercontinental Cup,Ahmedabad,India,True
40838,2019-07-20,Papua New Guinea,Fiji,1,1,Pacific Games,Apia,Samoa,True

In [18]:
inter_result.describe()

         home_score    away_score
count  40839.000000  40839.000000
mean       1.745709      1.188105
std        1.749145      1.405120
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

In [19]:
#inter_result.iloc[:35000]

In [20]:
#inter_result

In [21]:
 #neutral True = 0 and False = 1
#esc = inter_result['neutral'].replace([False , 1],[True , 0])

In [22]:

inter_result['neutral'].value_counts()

False    30680
True     10159
Name: neutral, dtype: int64

In [23]:
from sklearn.preprocessing import LabelBinarizer

In [24]:
LabelBinarize = LabelBinarizer()

In [25]:
tourBin = LabelBinarize.fit_transform(inter_result['tournament'])
tourBin

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int32)

In [26]:
tournament = inter_result['tournament']

In [27]:
tournamentSeries = pd.Series(tournament )

In [28]:
LabelBinarize.classes_
LabelBinarize.inverse_transform(tourBin[:5])

array(['Friendly', 'Friendly', 'Friendly', 'Friendly', 'Friendly'],
      dtype='<U42')

In [29]:
tourBin[:1]
LabelBinarize.inverse_transform(tourBin[:1])

array(['Friendly'], dtype='<U42')

In [30]:
#LabelBinarize.classes_

In [31]:
for Label in LabelBinarize.classes_ :
    #print(Label)
    data = pd.DataFrame({Label : [""]} )
    #print(data)
    pd.concat([inter_result , data] , axis=1)

In [32]:
tour = pd.DataFrame(tourBin , columns=[LabelBinarize.classes_])

In [33]:
#inter_result

In [34]:
#tour

In [35]:
LabelBinarize.inverse_transform(tourBin[:1])

array(['Friendly'], dtype='<U42')

In [36]:
tourBin[:1]

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]],
      dtype=int32)

In [37]:
inter_result = pd.concat([inter_result , tour] , axis=1)

In [38]:
inter_result = inter_result.drop(columns='tournament')

In [39]:
inter_result

,date,home_team,away_team,home_score,away_score,city,country,neutral,"(ABCS Tournament,)","(AFC Asian Cup,)",...,"(UNIFFAC Cup,)","(USA Cup,)","(United Arab Emirates Friendship Tournament,)","(VFF Cup,)","(Vietnam Independence Cup,)","(Viva World Cup,)","(WAFF Championship,)","(West African Cup,)","(Windward Islands Tournament,)","(World Unity Cup,)"
0,1872-11-30,Scotland,England,0,0,Glasgow,Scotland,False,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1873-03-08,England,Scotland,4,2,London,England,False,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1874-03-07,Scotland,England,2,1,Glasgow,Scotland,False,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1875-03-06,England,Scotland,2,2,London,England,False,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1876-03-04,Scotland,England,3,0,Glasgow,Scotland,False,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40834,2019-07-18,American Samoa,Tahiti,8,1,Apia,Samoa,True,0,0,...,0,0,0,0,0,0,0,0,0,0
40835,2019-07-18,Fiji,Solomon Islands,4,4,Apia,Samoa,True,0,0,...,0,0,0,0,0,0,0,0,0,0
40836,2019-07-19,Senegal,Algeria,0,1,Cairo,Egypt,True,0,0,...,0,0,0,0,0,0,0,0,0,0
40837,2019-07-19,Tajikistan,North Korea,0,1,Ahmedabad,India,True,0,0,...,0,0,0,0,0,0,0,0,0,0
40838,2019-07-20,Papua New Guinea,Fiji,1,1,Apia,Samoa,True,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
NeutralBinarize = LabelBinarizer()

In [41]:
neutralBin = NeutralBinarize.fit_transform(inter_result['neutral'])

In [42]:
neutralBin.shape

(40839, 1)

In [43]:
inter_result = inter_result.replace(False , '0')

In [44]:
inter_result = inter_result.replace(True , '1')

In [45]:
#inter_result.tail()

In [46]:
CountryBinarize = LabelBinarizer()

In [47]:
CountryBin = CountryBinarize.fit_transform(inter_result['country'])

In [48]:
#CountryBin

In [49]:
CountryDataBin = pd.DataFrame(CountryBin , columns=CountryBinarize.classes_)

In [50]:
inter_result = pd.concat([inter_result , CountryDataBin] , axis=1)

In [51]:
inter_result = inter_result.drop(columns='country')

In [52]:
CityBinarize = LabelBinarizer()

In [53]:
CityBin = CityBinarize.fit(inter_result['city'])

In [54]:
CityBin = CityBinarize.transform(inter_result['city']  n_job=-1)

SyntaxError: invalid syntax (<ipython-input-54-0637f8a7bcd2>, line 1)

In [ ]:
CityDataBin = pd.DataFrame(CityBin , columns=CityBinarize.classes_)

In [ ]:
inter_result = pd.concat([inter_result , CityDataBin] , axis=1)

In [ ]:
inter_result = inter_result.drop(columns='city')